<launch>
        <node name="joy_node" pkg="joy" type="joy_node" output="screen" >
                <param name="/dev" value="/dev/input/js0" />
        </node>
        <node name="turtlesim_node" pkg="turtlesim" type="turtlesim_node" output="screen" ></node>
        <node name="teleop_joy_node" pkg="joystick_learn" type="teleop_joy_node.py" output="screen" ></node>
</launch>